<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="file" xsi:type="File" fileName="${basedir}/${shortdate}-log.txt" />

	</targets>
	<rules>
		<!--<logger name="*" levels="Info,Error,Debug,Warn,Trace,Fail" writeTo="console" />-->
		<logger name="*" levels="Info,Debug,Error" writeTo="file" />
		<!-- <logger name="*" levels="Error" writeTo="email" /> -->
	</rules>
</nlog>